.link:link,
.link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1 rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.link:hover {
  color: #61ff5e;
  text-decoration: underline;
}

.active {
  /* color: #83ff22; */
  color: #61ff5e;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: bold;
}
