.link:link,
.link:visited {
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.link:hover {
  color: #90ff3a;
  text-decoration: underline;
}

.active {
  color: #83ff22;
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
}
