.articles {
    list-style: none;
    max-width: 104.125rem;
    /* margin: 0 auto; */
    margin: 0 auto;
    padding-bottom: 100px;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    color: #113569;
    padding-bottom: 50px;
  }
  
.article_li{
    background-color: #DEF3FD;
    padding: 24px 24px 24px 24px;
}

.article_li:nth-child(4n + 1){
  border-radius: 0 50px 0 0;
}

.article_li:nth-child(4n + 2){
  border-radius: 50px 0 0 0;
}


.article_title{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    padding-bottom: 50px;
  }
  
.article_text{
    padding-top: 20px;
    font-size: 20px;
    line-height: 1.75;
    
  }

.article_word{
    padding-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.75;
  }

.article_author{
    padding-top: 8px;
    font-size: 20px;
    line-height: 1.75;
    padding-bottom: 76px;
  }

.article_button_container{
  position: relative;
}

.article_button{
    position: absolute;
    padding: 18px 61px 18px 61px;
    border: 2px solid #FFDD55;
    border-radius: 0 40px 0 40px;
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 1;
    color: #153F7D;
    right: 0;
    bottom: 0;
  }

